<div class="fontop"></div>
<div class="fonmiddle">
	<div class="button-tab"><a href="#"><img src="images/tabit-button.png" alt="название сайта" /></a></div>
</div>
<div class="fonbottom">
</div>
<br style="clear:both">
<div class="share-c">
	<div class="share-l">
		<div class="share-r">
			<ul>
				<li><a href=""><img src="images/soc/1.png" alt="" /></a></li>
				<li><a href=""><img src="images/soc/2.png" alt="" /></a></li>
				<li><a href=""><img src="images/soc/3.png" alt="" /></a></li>
				<li><a href=""><img src="images/soc/4.png" alt="" /></a></li>
				<li><a href=""><img src="images/soc/5.png" alt="" /></a></li>
				<li><a href=""><img src="images/soc/6.png" alt="" /></a></li>
				<li><a href=""><img src="images/soc/7.png" alt="" /></a></li>
				<li><a href=""><img src="images/soc/8.png" alt="" /></a></li>
				<li><a href=""><img src="images/soc/9.png" alt="" /></a></li>
				<li><a href=""><img src="images/soc/10.png" alt="" /></a></li>
				<li><a href=""><img src="images/soc/11.png" alt="" /></a></li>
			</ul>
		</div>
	</div>
</div>
<br style="clear:both">
<div  class="text2">
	TAB History:
</div>

<div class="carusel">
	<ul id="mycarousel" class="jcarousel-skin-tango">
		<li><center><a href="">www.webdoka.ru</a><br /><img src="images/prim.jpg" width="192" height="135" alt="" /><span>Rate:</span><img src="images/rating.png" class="rate" alt="" /></center></li>
		<li><center><a href="">www.webdoka.ru</a><br /><img src="images/prim1.jpg" width="192" height="135" alt="" /><span>Rate:</span><img src="images/rating.png" class="rate" alt="" /></center></li>
		<li><center><a href="">www.webdoka.ru</a><br /><img src="images/prim.jpg" width="192" height="135" alt="" /><span>Rate:</span><img src="images/rating.png" class="rate" alt="" /></center></li>
		<li><center><a href="">www.webdoka.ru</a><br /><img src="images/prim1.jpg" width="192" height="135" alt="" /><span>Rate:</span><img src="images/rating.png" class="rate" alt="" /></center></li>
		<li><center><a href="">www.webdoka.ru</a><br /><img src="images/prim.jpg" width="192" height="135" alt="" /><span>Rate:</span><img src="images/rating.png" class="rate" alt="" /></center></li>
		<li><center><a href="">www.webdoka.ru</a><br /><img src="images/prim1.jpg" width="192" height="135" alt="" /><span>Rate:</span><img src="images/rating.png" class="rate" alt="" /></center></li>
		<li><center><a href="">www.webdoka.ru</a><br /><img src="images/prim.jpg" width="192" height="135" alt="" /><span>Rate:</span><img src="images/rating.png" class="rate" alt="" /></center></li>
		<li><center><a href="">www.webdoka.ru</a><br /><img src="images/prim1.jpg" width="192" height="135" alt="" /><span>Rate:</span><img src="images/rating.png" class="rate" alt="" /></center></li>
		<li><center><a href="">www.webdoka.ru</a><br /><img src="images/prim.jpg" width="192" height="135" alt="" /><span>Rate:</span><img src="images/rating.png" class="rate" alt="" /></center></li>
	</ul>
</div>