<div class="zag-sb">
	Show me websites in:
</div>
<form method="" action="">
	<div class="formcheck"><input name="mycolor" type="checkbox" value="red" checked>&nbsp;English</div>
	<div class="formcheck"><input name="mycolor" type="checkbox" value="red" checked>&nbsp;Russian</div>
	<div class="formcheck"><input name="mycolor" type="checkbox" value="red" checked>&nbsp;Spanish</div>
	<div class="formcheck"><input name="mycolor" type="checkbox" value="red" checked>&nbsp;Deutsch</div>
</form>