
<div class="footer1">
	<div class="wwide">
		<div class="wrapper" style="position:relative">
			<div class="footer-text">
				2011 &copy; www.tabventure.com
			</div>
			<!--<ul class="spisok-footer">
				<li><a href="">Erweiterte Einstellungen</a>&nbsp; |&nbsp;</li>
				<li><a href="">Seite hizufugen</a>&nbsp; |&nbsp;</li>
				<li><a href="">Zur Startseite machen</a>&nbsp; |&nbsp;</li>
				<li><a href="">Kontakt</a>&nbsp; |&nbsp; </li>
				<li><a href="">Report Error</a>&nbsp; |&nbsp; </li>
				<li><a href="">Whishes</a>&nbsp; |&nbsp; </li>
				<li><a href="">Impressum</a></li>
			</ul>-->
			<div class="logowd">
				<%= link_to image_tag("logowd.png", :alt => "Webdoka"), "http://webdoka.com" %>
			</div>
		</div>
	</div>
</div>