<div class="header">
	<div class="logo">
	   <%= link_to image_tag("logo.png", :alt => "Tabventure"), root_path%>
	</div>
	
	<div class="lang"><%= language_selector %></div>
	
	<ul class="about">
		<li><%= link_to image_tag("li3.png"), about_path %></li>
	</ul>
</div>